h1 {
    color: blue;
    background-color: yellow;
}
body {
    background-color: pink;
}
button {
    background-color: blue;
    color: peru;
}

.box{
    height: 100px;
    width: 100px;
    background-color: yellow;
    border: 2px solid black;
    margin: 5px;
    text-align: center;
    
}